// Mixin [This don't appears on css]
@mixin round-bord($radius: 10px){
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -o-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
  }

// Placeholder
%box-shadow{
  -webkit-box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
}

%image-replacement{
  text-indent: -9999px;
  overflow: hidden;
  background-repeat: no-repeat;
}