
// Colors [This don't appears on css]
$light-primary-color: darken(#c24e4b, 0);
$light-aux-color: lighten(#1e2c35, 0);
$light-white-color: #fff;

$breakpoint: 980px;

$mq-mobile: "(max-width: 980px)";// Media Query - Mobile